@{
    ViewData["Title"] = "Inicio";
}

<div class="text-center mb-5">

    <h1 class="display-4">💖 Rincón de Opiniones de Libros</h1>

    <p class="lead">
        Un pequeño espacio para descubrir historias mágicas,
        compartir opiniones y encontrar tu próxima lectura favorita.
    </p>

</div>

<h2 class="text-center mb-4">✨ Libros populares</h2>

<div class="row">

    <div class="col-md-4">

        <div class="card shadow">

            <img src="https://gandhi.vtexassets.com/arquivos/ids/7418900/9786078678006.jpg?v=638933338909570000" class="card-img-top">

            <div class="card-body text-center">

                <h5 class="card-title">El Principito</h5>

                <p class="card-text">
                    Un libro lleno de enseñanzas sobre la vida y la amistad.
                </p>

                <a href="/Home/Opiniones" class="btn btn-primary">
                    Ver opinión
                </a>

            </div>

        </div>

    </div>

    <div class="col-md-4">

        <div class="card shadow">

            <img src="https://covers.openlibrary.org/b/id/7984916-L.jpg" class="card-img-top">

            <div class="card-body text-center">

                <h5 class="card-title">Harry Potter</h5>

                <p class="card-text">
                    Una historia mágica llena de aventuras en Hogwarts.
                </p>

                <a href="/Home/Opiniones" class="btn btn-primary">
                    Ver opinión
                </a>

            </div>

        </div>

    </div>

    <div class="col-md-4">

        <div class="card shadow">

            <img src="https://m.media-amazon.com/images/I/71wnBzT9WqL._AC_UF1000,1000_QL80_.jpg" class="card-img-top">

            <div class="card-body text-center">

                <h5 class="card-title">Orgullo y Prejuicio</h5>

                <p class="card-text">
                    Una historia romántica clásica de Jane Austen.
                </p>

                <a href="/Home/Opiniones" class="btn btn-primary">
                    Ver opinión
                </a>

            </div>

        </div>

    </div>

</div>