<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Libros</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Libros.styles.css" asp-append-version="true" />
</head>

<body>

    <header>

        <nav style="background-color:#f2f2f2; padding:10px;">

            <a href="/Home/Index">🏠 Inicio</a> |

            <a href="/Home/Informacion">ℹ️ Información</a> |

            <a href="/Home/Opiniones">📚 Opiniones</a> |

            <a href="/Home/Contacto">📩 Contacto</a>

        </nav>

    </header>

    <div class="container">
        <main role="main" class="pb-3">

            @RenderBody()

        </main>
    </div>

    <footer class="text-center mt-5 p-3" style="background:#ffd6eb; border-radius:px;">
            © 2026 - Sitio de Opiniones de Libros
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>